*{
    font-family: 'Mulish', sans-serif;
}
.container-consulta{
    padding: 20px;
}
.espaciado{
    padding: 5px;
}
.nodata{
    text-align: center;
}
 .detalles{
    text-align: center !important;
    
}