
<form class="form-inline" *ngIf="mostrarFormulario">
  <div class="form-group">
    <div class="input-group">
      <!-- (dateSelect)="onDateSelect($event)"  (change)="onDateSelect($event)" -->
      <input  id="datepicker1" class="form-control" placeholder="yyyy-mm-dd"
             name="dp"  ngbDatepicker #d="ngbDatepicker" [(ngModel)]="startDate">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" id="Fecha" (click)="d.toggle()" type="button">📅</button>
        <button class="buscar btn btn-sm btn-warning" id="buscar" (click)="onDateSelect()">Buscar</button>
      </div>
    </div>
  </div>
</form>

<app-checkout [dataCheckout]="dataCheck" *ngIf="mostrarCheckout" (cambioReserva)="cambioReserva($event)"></app-checkout>
