<div class="btnContainer">
  <div class="tarjeta" routerLink="../alquilarVehiculo">
    <img src="assets/svg/car.svg" class="svgicon" />
    <div class="tarjeta_texto">Alquilar</div>
  </div>
  <div class="tarjeta" routerLink="ConsultarEstado">
    <img src="assets/svg/search.svg" class="svgicon" />
    <div class="tarjeta_texto">Consultar</div>
  </div>
  <div class="tarjeta" routerLink="ListadoSolicitudes">
    <img src="assets/svg/solicitud.svg" class="svgicon" />
    <div class="tarjeta_texto">Solicitudes</div>
  </div>
</div>
