
 <p class="tituloComponente">¡Confirma tú reserva!</p>
<div class="card"  *ngIf="mostrarResumen">
    <div class="card-header">
              <img src="https://img.freepik.com/free-vector/car-owner-illustration_178888-348.jpg" alt="">
    </div>
    <div class="card-body">
        
        <div class="card-text">
           <p class="testoConfirmar">Confirma los datos de la Reserva</p> 

            <div class="container"  *ngIf="mostrarResumen">
                <ul class="list-group">
                   <li class="list-group-item">Fecha: {{dataCheckout?.fecha}}</li>
                    <li class="list-group-item">Costo : {{dataCheckout?.costo | currency}}</li> 
                    <li class="list-group-item">Adicional : ${{dataCheckout?.adicional}}</li>
                    <li class="list-group-item">Descuento : {{dataCheckout?.descuento}}%</li> 
                    <li class="list-group-item">Total: ${{ (dataCheckout?.costo + dataCheckout?.adicional) - (dataCheckout?.costo)*(dataCheckout?.descuento/100)}} </li>
                  </ul>
            </div>
        </div>
        <div class="card-plan">
            <div class="card-plan-text">
                <div class="card-plan-title">Disfruta de la experiencia </div>
            </div>
        </div>
        <div class="radicado" *ngIf="mostrarRadicado">
            Radicado: {{resumenReserva[0]?.idRadic}}
            <br> <br>

            <p class="textMini">Con este número podrás realizar el seguimiento de tú reserva</p>
            </div> 
        <div class="card-payment-button">
            <button class="btn btn-warning personalizadoButton" (click)="reservar()" *ngIf="!mostrarRadicado">Reservar</button>
        </div>
    </div>
</div>
 


 
 
 